streamlit==1.39.0
numpy==1.26.4
pandas==2.2.3
Pillow==10.4.0
joblib==1.4.2
matplotlib==3.9.2
scikit-learn==1.5.2
opencv-python
torch
torchvision
torchaudio
diffusers
transformers==4.45.0
sentencepiece
protobuf
fastapi
uvicorn
groq
plotly
open3d==0.18.0
trimesh
